# Google Cloud gakoak eta baimenak
*.json
.streamlit/secrets.toml

# Irudiak eta dokumentazio konfidentziala
OAuth_client_created.png
*.png
*.jpg
*.jpeg

# Python-eko fitxategi tenporalak
__pycache__/
.venv/
.env
.DS_Store